# Visual Studio
.vs/
.vscode/
*.sln.iml

# Build results
bin/
obj/
*.dll
*.exe
*.pdb

# User-specific files
*.rsuser
*.suo
*.user
*.userosscache
*.sln.docstates

# ReSharper
.idea/
*.sln.iml

# NuGet
*.nupkg
*.snupkg
