@{
    ViewData["Title"] = "Pocetna";
}

<div class="text-center">
    <h1 class="display-4">Dobrodosli</h1>
    <p>Saznajte vise o <a href="https://learn.microsoft.com/aspnet/core">izradi web aplikacija s ASP.NET Core tehnologijom</a>.</p>
</div>
